<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <h1>Webpack Boilerplate</h1>
        <h3>Replace this page with your own code</h3>

        <button class="some-btn">some button</button>
        <input class="my-input" value="33">

        <p class="my-par">empty</p>

        <button class="some-btn2">some button 2</button>

    </div>
</body>
</html>
